<div ng-init="getEmployeeName();" class="page-container">
	<p class="text-right">Hello {{name}}</p>
	<div role="main" class="col -sm-8 col m-offset-2" ng-init="getAllEmployee();">
		<div>
			<div class="bs-component container container-table">
				<table class="table table-striped table-hover">
					<caption class="text-center">Employee List</caption>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Qualification</th>
						<th>Age</th>
						<th>Gender</th>
						<th>City</th>
						<th></th>
					</tr>
					<tr ng-repeat="employee in employees | orderBy:'name'">
						<td ng-click="showEmployeeData(employee.email)">{{employee.name}}</td>
						<td ng-click="showEmployeeData(employee.email)">{{employee.email}}</td>
						<td ng-click="showEmployeeData(employee.email)">{{employee.qualification}}</td>
						<td ng-click="showEmployeeData(employee.email)">{{employee.age}}</td>
						<td ng-click="showEmployeeData(employee.email)">{{employee.gender}}</td>
						<td ng-click="showEmployeeData(employee.email)">{{employee.city}}</td>
						<td ng-click="deleteEmployeeData(employee.email)"><button type="button" value="delete">Delete</button></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<!--
	<div role="main" class="container theme-showcase" ng-init="getAllEmployee();">
		<div class="" style="margin-top:90px;">
			<button type="button" ng-click="addEmployeeData();"> Add New</button>
			<div class="bs-component">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Age</th>
							<th>Gender</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="employee in employees">
							<td ng-click="showEmployeeData(employee.email);">{{employee.name}}</td>
							<td ng-click="showEmployeeData(employee.email);">{{employee.email}}</td>
							<td ng-click="showEmployeeData(employee.email);">{{employee.age}}</td>
							<td ng-click="showEmployeeData(employee.email);">{{employee.gender}}</td>
							<td ng-click="deleteEmployeeData(employee.email);">Delete</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>-->